button {
    margin: 9px;
}
body {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
img {
    margin-top: 100px;
}
#fileButton {
    text-align: center;
    margin: auto;
    margin-bottom: 9px;
    margin-top: 10px;
}
table {
    border-collapse: collapse;
    width: 25%;
    margin: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #66b3ff;
    color: white;
}
